body {
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

h1,
h2 {
  font-family: "Rubik", sans-serif;
}

h1 {
  margin-top: 35px;
  margin-bottom: 0;
  text-align: center;
  font-size: 16px;
  position: relative;
}

.city-time {
  margin-top: 165px;
  text-align: center;
  font-size: 30px;
}
.city {
  text-transform: capitalize;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}

.time {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}

h2 {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}

.icon {
  display: block;
  max-width: 65px;
  float: left;
  margin-left: 0;
  position: relative;
  top: 34px;
  left: 40px;
}

.description {
  text-transform: capitalize;
  margin-top: 10px;
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 15px;
}

.humidity {
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 15px;
}
.wind {
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 15px;
  margin-bottom: 0px;
}

.container-left {
  max-width: 768px;
  width: 768px;
  height: 450px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 30px;
  float: left;
  margin-left: 153px;
  margin-right: 2px;
}

.container-right {
  width: 268px;
  height: 450px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 30px;
  float: right;
  margin-right: 153px;
  margin-left: 2px;
}

.city-search-box {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 0px;
}

.form-control {
  background-color: #f9f7fe;
  border: #f9f7fe;
}

.search-button {
  margin-top: 20px;
  padding-left: 3.15rem;
  padding-right: 3.15rem;
  margin-left: 0px;
  margin-right: 40px;
}

.location-button {
  position: relative;
  right: 15px;
  margin-top: 20px;
  padding-left: 0.65rem;
  padding-right: 0.65rem;
  margin-left: 40px;
  margin-right: 40px;
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.temperature {
  font-size: 55px;
}

.celsius {
  position: relative;
  bottom: 26px;
  color: #000000;
  cursor: default;
}

.celsius:hover {
  color: #17a2b8;
  text-decoration: none;
}

.active:hover {
  color: #000000;
  cursor: default;
  text-decoration: none;
}

.seperation-line {
  position: relative;
  bottom: 26px;
  color: #9c9797;
}

.fahrenheit {
  position: relative;
  bottom: 26px;
  color: #000000;
  cursor: default;
}

.fahrenheit:hover {
  color: #17a2b8;
  text-decoration: none;
}

.day-hours-row {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.weekdays-row {
  margin-left: 10px;
  margin-right: 10px;
}

.week {
  margin-bottom: 50px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.snow-icon {
  font-size: 40px;
  margin-top: 20px;
  color: #d3d3d3;
}

img {
  display: block;
  margin: 0 auto;
}

p {
  font-size: small;
  margin-top: 5px;
  float: left;
  margin-left: 195px;
  margin-right: 2px;
}
