body {
  background: linear-gradient(
    to right,
    rgb(182, 244, 146),
    rgb(182, 244, 146),
    #6fb7bc
  );
}

h1,
h2 {
  font-family: "Rubik", sans-serif;
}

h1 {
  margin-top: 35px;
  margin-bottom: 0;
  text-align: center;
  font-size: 16px;
  position: relative;
}

.city-time {
  position: relative;
  bottom: 15px;
  margin-left: 40px;
  text-align: left;
  font-size: 30px;
}
.city {
  text-transform: capitalize;
  margin-top: 20px;
  text-align: left;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

.time {
  margin-top: 20px;
  text-align: left;
  font-size: 30px;
}

h2 {
  position: relative;
  bottom: 15px;
  margin-left: 40px;
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
}

.icon {
  display: block;
  max-width: 65px;
  float: left;
  margin-left: 0;
  position: relative;
  top: 34px;
  left: 40px;
}

.description {
  text-transform: capitalize;
  margin-top: 10px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 15px;
}

.main-condition {
  margin-top: 130px;
}
.humidity-row {
  position: relative;
  bottom: 40px;
  font-family: "Rubik", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

.humidity {
  text-align: left;
  font-size: 15px;
}

.humidity-number {
  text-align: right;
}
.hr-1 {
  position: relative;
  bottom: 60px;
  width: 80%;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #fff, #ccc);
}
.wind-row {
  font-family: "Rubik", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  bottom: 80px;
}
.wind {
  text-align: left;
  font-size: 15px;
}
.wind-number {
  text-align: right;
}
.hr-2 {
  position: relative;
  bottom: 100px;
  width: 80%;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #fff, #ccc);
}

.pressure-row {
  font-family: "Rubik", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  bottom: 120px;
  margin-bottom: 0;
}
.pressure {
  text-align: left;
  font-size: 15px;
  margin-bottom: 0px;
}
.pressure-number {
  text-align: right;
}
.hr-3 {
  position: relative;
  bottom: 140px;
  width: 80%;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #fff, #ccc);
}

.feels-like-row {
  font-family: "Rubik", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  bottom: 160px;
  margin-bottom: 0;
}

.feels-like {
  font-family: "Rubik", sans-serif;
  text-align: left;
  font-size: 15px;
  margin-bottom: 0px;
}
.feels-like-number {
  text-align: right;
}

.container-left {
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  max-width: 768px;
  width: 768px;
  height: 450px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 30px;
  float: left;
  margin-left: 153px;
  margin-right: 2px;
}

.container-right {
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  width: 268px;
  height: 450px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 30px;
  float: right;
  margin-right: 153px;
  margin-left: 2px;
}

.city-search-box {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 0px;
}

.form-control {
  background-color: #f9f7fe;
  border: #f9f7fe;
}

.search-button {
  border: none;
  font-size: 16px;

  height: 37px;
  margin-top: 20px;
  padding-left: 3.15rem;
  padding-right: 3.15rem;
  margin-left: 0px;
  margin-right: 40px;
}

.location-button {
  border: none;
  font-size: 16px;
  height: 37px;
  position: relative;
  right: 15px;
  margin-top: 20px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: 40px;
  margin-right: 40px;
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.temperature {
  font-size: 55px;
}

.celsius {
  position: relative;
  bottom: 26px;
  color: #000000;
  cursor: default;
}

.celsius:hover {
  color: #17a2b8;
  text-decoration: none;
}

.active:hover {
  color: #000000;
  cursor: default;
  text-decoration: none;
}

.seperation-line {
  position: relative;
  bottom: 26px;
  color: #9c9797;
}

.fahrenheit {
  position: relative;
  bottom: 26px;
  color: #000000;
  cursor: default;
}

.fahrenheit:hover {
  color: #17a2b8;
  text-decoration: none;
}

.weather-forecast {
  margin-left: 25px;
  margin-right: 25px;
}

.week {
  margin-bottom: 50px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.weather-forecast-temperatures {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}

.weather-forecast-temperature-max {
  color: #498b76;
  margin-left: 5px;
  margin-right: 5px;
}
.weather-forecast-temperature-min {
  color: #8dd475;
  margin-left: 5px;
  margin-right: 5px;
}

.weather-forecast-humidity {
  margin-top: 5px;
}

.fa-droplet {
  color: #84cef8;
  margin-right: 6px;

  font-size: smaller;
}

.forecast-icon {
  max-width: 65px;
}

img {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  margin: 0 auto;
  max-width: 65px;
}

p {
  color: rgb(51, 139, 147);
  font-size: small;
  margin-top: 5px;
  float: left;
  margin-left: 195px;
  margin-right: 2px;
}

p a {
  color: rgb(51, 139, 147);
}
